body {
    margin:0;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin :0;
}
.subtitle{
    font-weight: 700;
    color:#1792d2;
    font-size :.75rem;
    margin:0;
}


/*
    Layout
 */
.container {
    width:100%;

    margin: 0 auto;
}

.container-nav {
    display:flex;
    justify-content: space-between;
}

.container-top {
    display: flex;
    background:url("../img/main_img01.jpg")no-repeat;
}

.container-logo {
    width:100%;
    height: 600px;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    justify-content: center;
    margin-top: 10em ;
}

.container-logo div {
    text-align: center;
    padding-bottom: .5em;
}


.img-slide {
    width:30%;
    border:solid 1px yellowgreen;
}

@media (max-width: 700px) {
    .container-nav {
        flex-direction:column ;
    }
    header {
        text-align: center;
    }

}

header {
    background: #f8f8f8;
    padding: 2em 0;
}

nav ul {
    list-style: none;
    padding:0;
    display: flex;
    justify-content: center;
}

@media (max-width: 500px) {
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin:.5em;
    }
}

nav li {
    margin-left: 2em; /* 위 아래 값x 좌우 균등 중앙위치*/
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight:700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus
{
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

.logo {
    /*height:500px;*/
    /*width: 900px;*/
}

.container-board {
    display: flex;
    justify-content: space-between;
}

.board {
    height:400px;
    width:55%;
    border:solid 1px red;
}

.notice {
    height:400px;
    width:40%;
    border:solid 1px yellowgreen;
}


.video {
    background: #0e1f55;
    width:100%;
    display: flex;
    justify-content: center;
}

footer {
    width:100%;
    background-color :#19242e;
    position:relative;
    z-index:1;
    margin:0 auto;
}

.foot-wrap {
    text-align: center;
    margin:0 auto;
    height:7em;
    color: #fff;
    font-weight: 700;
    padding-top: 2em;
}